html,body {
  margin: 0;
  background-color: #191919;
  font-family: Nunito;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
  
.top-section {
  flex-basis: 25%;
  background-color: #496ba3;
  color: #FAF8F1;
  display: flex;
  position: relative;
  justify-content: center;
}

.title {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
}

.title h1,h3 {
  margin: 0;
  color: #FAF8F1;
}

.title h1 {
  font-size: 70px;
}

.title h3 {
  font-size: 40px;
}

.middle-section {
  position: absolute;
  bottom: 0; 
  width: 100%;
  height: 15%; 
  background-color: #FAF8F1;
  color: #496ba3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.bottom-section {
  flex-basis: 75%;
  margin-top: 2% ;
}

.reset-game {
  position: relative;
  display:  flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 10%;
}

.game-modes {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  justify-content: space-between;
  padding: 10%;
}

.reset-game button {
  background-color: #FAF8F1;
  color: #496ba3;
  border: none;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.4s;
}

.game-modes button {
  background-color: #FAF8F1;
  color: #496ba3;
  border: none;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.4s;
  margin-left: 2%;
}

.reset-game button:hover {
  background-color: #496ba3;
  color: #faf8f1;
}
.game-modes button:hover {
  background-color: #496ba3;
  color: #faf8f1;
}

.game-modes .selected-btn {
  background-color: #496ba3;
  color: #FAF8F1;
}


#color-btn {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  border: 3px solid;
  margin-left: 1%;
  margin-bottom: 8px;
}

.top-row,
.middle-row,
.bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width: 1040px) {
  .title h1{
    font-size: 49px;
  }
  .title h3{
    font-size: 28px;
  }
  .game-modes{
    padding: 3%;
  }
  .reset-game{
    padding: 3%;
  }
}


